*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'josfin fans' sans-serif;
}
body{
    background: #f3f5f9;
   
}
.wrapper{
   
}
.wrapper .sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    background: #4b4276;
    padding: 30px 0;
}
.wrapper .sidebar header{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
.wrapper .sidebar ul li {

   line-height: 50px;
   padding-left: 20px;
   border-bottom: 1px solid rgba(0,0,0,0.05);
   border-top: 1px solid rgba(225,225,225,0.05);
}
.wrapper .sidebar ul li a{
    color: #bdb8d7;
    display: block;
    transition: .6s;
    box-sizing: border-box;
   
   
}
.wrapper .sidebar ul li a .fas{
    width: 25px;
}
.wrapper .sidebar ul li:hover{
    background: #594f8d;
}
.wrapper .sidebar ul li:hover a{
     color: #fff;
     padding-left: 30px;
}

.wrapper .main_content{
    width: auto;
    margin-left: 250px;
}
.wrapper .main_content .header{
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
    text-align: center;
}

.wrapper .main_content .container1{
    height: 100%;
    width: 240px;
    background: snow;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
 .box1{
    height: 125px;
    width: 200px;
    background: linear-gradient(to top left, #42275a 0%, #734b6d 100%);
    margin-left: 20px;
    border-radius: 5px;
    margin-top : 20px;  
}
.wrapper .main_content .container1 .box1 ul li {
    line-height: 20px;
    padding-left: 10px;
    border-bottom: 1px;
    border-top: 1px;
    background: linear-gradient(to bottom right, #42275a 0%, #734b6d 100%);
    font-family: roboto mono;
    border-radius: 4px;
   
}
.wrapper .main_content .container1 .box1 ul li a{
    display: block;
    box-sizing: border-box;
    color: black;
}
.wrapper .main_content .container1 .box1 ul li a .fas{
    width: 20px;
}
.box2{
    height: 125px;
    width: 200px;
    background: linear-gradient(to top left, #4b4276 0%, #ff99ff 100%);
    margin-left: 20px;
    border-radius: 5px;
    margin-top : 20px;  
}
.wrapper .main_content .container1.box2 ul li {
    line-height: 20px;
    padding-left: 10px;
    border-bottom: 1px;
    border-top: 1px;
    background: linear-gradient(to bottom right, #4b4276 0%, #ff99ff 100%);
    font-family: roboto mono;
    border-radius: 4px;
}
.wrapper .main_content .container1 .box2 ul li a{
    display: block;
    box-sizing: border-box;  
    color: black;
}
.wrapper .main_content .container1 .box2 ul li a .fas{
    width: 20px;
}
.wrapper .main_content .container1 .box3{
    height: 125px;
    width: 200px;
    background: linear-gradient(to top left, #4568dc 0%, #b06ab3 100%);
    margin-left: 20px;
    border-radius: 5px;
    margin-top : 20px;  
    margin-bottom : 20px;
}
.wrapper .main_content .container1 .box3 ul li {
    line-height: 20px;
    padding-left: 10px;
    border-bottom: 1px;
    border-top: 1px;
    background: linear-gradient(to bottom right, #4568dc 0%, #b06ab3 100%);
    font-family: roboto mono;
    border-radius: 4px;
}
.wrapper .main_content .container1 .box3 ul li a{
    display: block;
    box-sizing: border-box;
    color: black;

}
.wrapper .main_content .container1 .box3 ul li a .fas{
    width: 20px;
}
   
.container3{
    background:snow;
    margin-left: 20px;
    margin-right: 20px;
    height: 100px;
    width: 1240px;
    margin-top : 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
   
}
.container3 a{
    line-height: 50px;
    width: 200px;;
    margin: auto;
    align-items: center;
    background: #4b4276;
    border-radius: 5px;
    padding-left: 10px;
    color: #bdb8d7;
    transition: .4s;
}
.container3 a .fas{
    width: 20px;
}
.container3 :hover{
    background: #594f8d
}
.container3 :hover a{
    color: #ffff;
    padding-left: 30px;
}
.submenu{
    display : none;
    position: fixed;
    height: auto;
    width : auto;
    background: white;
    box-shadow: 2px 2px 10px lightgray;
    margin-left : 190px;
    margin-top: -20px;
    border-radius: 5px;
    transition: 0.4s;
}
.submenu a{
    line-height: 40px;
    width: 150px;
    padding-left: 10px;
    color: black;
}
.box1 li:hover .submenu{
 display: block;
}
.box2 li:hover .submenu{
 display: block;
}
.box3 li:hover .submenu{
 display: block;
}
.submenu a:hover{
    background: silver;
    border-radius: 5px;
}

.recent{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin-top : 50px;    
}
.recent td,.recent th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.recent tr:nth-child(even) {
  background-color: #dddddd;
}

.recent tr:hover {
    background-color: rgb(220, 243, 250);
}