input[type="text"],select, input[type="date"]{
  width: 50%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  position: relative;
  left: 150px;
  top:-20px;
  
}
input[type="file"]
{
  width: 50%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  position: relative;
  left: 150px;
  top:-20px;
  background-color: white;
}
.document{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  
  
}
label{
    position: absolute;
}

  
input[type="submit"]{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  position: relative;
  left: 150px;
  top:-20px;
  background: green;
  outline: none;
  transition: .2s;
  font-family: sans-serif;
}
input[type="submit"]:hover{
    cursor: pointer;
    background: darkgreen;
    color: #fff;
}
input[type="reset"]{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  position: relative;
  left: 150px;
  top:-20px;
  background: red;
  outline: none;
  transition: .2s;
  font-family: sans-serif;
}
input[type="reset"]:hover{
    cursor: pointer;
    background: darkred;
    color: #fff;
}
.iframe{
    position: relative;
    left: 775px;
    bottom: 00px;
    width: 38%;
    
}

.popup_upload1{
    display : none;
    width : 1536px;
    height :100%;
    background : rgba(0,0,0,0.7);
    position : absolute;
    top : 0;
    left : 0;
    
    justify-content: center;
    align-items: center;
}
.content{
    width : 450px;
    height : 250px;
    background : white;
    border : 2px solid;
    border-radius : 5px;
    display : none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content2{
    width : 450px;
    height : 250px;
    background : white;
    border : 2px solid;
    border-radius : 5px;
    display : none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content button{
    display : flex;
    align-items: center;
    justify-content: center;
    margin : 10px;
    margin-left : 50px;
    margin-right : 50px;
    padding : 10px;
    height : 37px;
    width : 100px;
    font-size : 15px;
    border-radius : 10px;
    border : none;
    outline: none;
    background : green;
    color : white;
    font-family :  serif;
    box-shadow: 1px 2px 4px lightgreen;
}
.content2 button{
    display : flex;
    align-items: center;
    justify-content: center;
    margin : 10px;
    margin-left : 50px;
    margin-right : 50px;
    padding : 10px;
    height : 37px;
    width : 100px;
    font-size : 15px;
    border-radius : 10px;
    border : none;
    outline: none;
    background : red;
    color : white;
    font-family :  serif;
    box-shadow: 1px 2px 4px red;
}

.content button:hover{
    background : white;
    color : green;
    box-shadow: 1px 2px 4px lightgreen;
    border : 3px solid;
    border-color : green;
}
.content2 button:hover{
    background : white;
    color : red;
    box-shadow: none;
    border : 3px solid;
    border-color : red;
}
.content i{
      color : green;
    font-size : 30px;
    padding : 20px;
    border : 3px solid;
    border-radius : 50%;
} 
.content2 i{
    color : red;
    font-size : 33px;
    padding : 20px;
    border : 3px solid;
    border-radius : 50%;
}