body{

    background: url(background-images/main-background.jpg);
    background-size:cover;
    background-position: calc;
    font-family: sans-serif;
    max-height: 100vh;
    background-repeat: no-repeat;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    display : flex;
    justify-content: center;
}

.box{
    width: 300px;
    height: 300px;
    background-color: rgb(30,30,38,0.8);
    border-radius : 15px;
    box-shadow: 2px 5px 12px rgba(0,0,0,0.5);
    text-align: center;
    margin: 40px;
    margin-right : 100px;
}
.box input[type="submit"]{
    border: none;
    outline: none;
    border-radius : 10px;
    background: rgb(30,30,38,0);
    padding: 35px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin-top : 0px;
    width : 300px;
    color : white;
}

.box img{
    width : 300px;
    height:200px;
    border-top-right-radius : 15px;
    border-top-left-radius : 15px;
}
.navbar{
    display : flex;
    align-items : center;

    position : fixed;
    top : 0px;
    left : 0px;
    width: 100%;
    height : 90px;
    background : rgba(0,0,0,0.5);
}
.navbar img{
    width : 60px;
    height : 60px;
    padding : 0px;
    border-radius : 50%;
    margin-left : 260px;
    border : none;
}
.navbar h4{
    color : white;
    font-family: Georgia;
    margin-left : 20px;
}
.navbar a{
    color : white;
    font-family: Courier New;
}
.welcome{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : 90px;
    margin-left : 250px;
    margin-bottom : 50px;
    width: 230px;
    height : 170px;
    background : linear-gradient(120deg,rgb(198, 255, 221,0.7), rgb(251, 215, 134,0.7),rgb(247, 121, 125,0.7));
}
.welcome i{
    font-size : 60px;
    padding : 20px;
    border : 1px solid;
    color : rgba(0,0,0,0.6);
    border-radius : 50%;
    border-color : rgba(0,0,0,0.6);
}