        
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  padding-left: 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left : 90px;
  border-radius :3px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left : 90px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

#editindex{
  display : none;
  width : 500px;
  border:1px solid;
  border-color: lightgray;
  margin :10px;
}
#editindex form{
  display : flex;
  flex-direction :column;
  justify-content: space-around;
  align-items: center;
}

iframe{
  width : 1300px;
  height: 1000px;
  padding:10px;
  margin : 10px;
  margin-left: 90px;
  background: #F5F5F5;
  border:1px solid;
  border-color: lightgray;
}

input[type = 'text'],input[type = 'date'],input[type = 'file']
{
  border: 1.5px solid lightblue;
  border-radius: 3px;
  width : 350px;
  padding : 7px;
}
#editindex button{
  border: 1.5px solid;
  border-radius: 3px;
  width : 350px;
  padding : 7px;
}
#editindex button{

  border: 1.5px solid;
  border-radius: 3px;
  width : 350px;
  padding : 7px;
  color : white;
}
#editindex button[type = 'submit']
{
    background: green;
}
#editindex button[type = 'reset']
{
    background: red;
}
select{
  border: 1.5px solid lightblue;
  border-radius: 3px;
  width : 350px;
  padding : 7px;
}