
input[type="text"],select, input[type="date"],input[type="reset"]{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  position: relative;
  left: 150px;
  top:-20px;
  
}
.document{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  
  
}
label{
  position: absolute;
}
input[type="submit"]{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  position: relative;
  left: 150px;
  top:-20px;
  background: green;
  outline: none;
  transition: .2s;
  font-family: sans-serif;
}
input[type="submit"]:hover{
    cursor: pointer;
    background: darkgreen;
    color: #fff;
}
input[type="reset"]{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  position: relative;
  left: 150px;
  top:-20px;
  background: red;
  outline: none;
  transition: .2s;
  font-family: sans-serif;
}
input[type="reset"]:hover{
    cursor: pointer;
    background: darkred;
    color: #fff;
}
.files {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px;
}

.files td, .files th {
  border: 1px solid #ddd;
  padding: 8px;
}

.files tr:nth-child(even){
    background-color: #f2f2f2;
}

.files tr:hover {
    background-color: #ddd;
}

.files th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.popup_upload1{
    display : none;
    width : 1536px;
    height :100%;
    background : rgba(0,0,0,0.7);
    position : absolute;
    top : 0;
    left : 0;
    
    justify-content: center;
    align-items: center;
}

.content2{
    width : 450px;
    height : 250px;
    background : white;
    border : 2px solid;
    border-radius : 5px;
    display : none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content2 button{
    display : flex;
    align-items: center;
    justify-content: center;
    margin : 10px;
    margin-left : 50px;
    margin-right : 50px;
    padding : 10px;
    height : 37px;
    width : 100px;
    font-size : 15px;
    border-radius : 10px;
    border : none;
    outline: none;
    background : red;
    color : white;
    font-family :  serif;
    box-shadow: 1px 2px 4px red;
}

.content2 button:hover{
    background : white;
    color : red;
    box-shadow: none;
    border : 3px solid;
    border-color : red;
} 
.content2 i{
    color : red;
    font-size : 33px;
    padding : 20px;
    border : 3px solid;
    border-radius : 50%;
}