*{
    margin: 0;
    padding: 0;
}
body{
       max-height: 100vh;
}
.sidenav{
    height: 100%; 
    width: 300px; 
    position: fixed;
    left : 0px;
    top : 0px;
    background: black;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidenav h3{
    position: absolute;
    display : flex;
    justify-content: center;
    align-items: center;
    top : 0px;
    width : 300px;
    height: 60px;
    background :  #818181; 
    color : black;
}
.sidenav img{
    position: relative;
    bottom :50px;
    background:  #818181;
    border-radius: 80px;
}
.side1{
    position: relative;
    right : 46px;
}
.sidenav2{
    display : flex;
    background : black;
    flex-direction: row;
    margin : 10px;
    padding : 5px;
    align-items: center;
}

.sidenav a{
    color : #818181;
    width: 200px; 
    text-align: center;
    font-size : 20px;
    text-decoration: none;
    padding :5px; 
}
.sidenav a:hover {
    color: white;
    font-size : 23px;
    transition:  .2s;
  }
.sidenav i{
    color : #818181;
    font-size : 25px;
    padding : 5px;
}

.navbar{
    display : flex;
    align-items : center;
    overflow: hidden;
    height : 80px;
    width : 100%;
    background : #F5F5F5;
    box-shadow: 2px 2px 7px lightgray;
}
.navbar img{
    width : 80px;
    height : 80px;
    border : 1px solid;
    border-radius : 50px;
    margin-left : 30px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content{
    display : none;
}
.dropdown-content a {
  display: block;
}
.dropdown:hover .dropdown-content{
    transition: .6s;
    display: block;
}
.container{
    height: 614px;
    width : 1130px;
    position: relative;
    left : 300px;
    display : flex;
    justify-content: center;

}
.container label{
    position : absolute;
    width : 240px;
    height : 27px;
    font-size: 20px;
    margin: 0px 30px 30px 25px;
}
.split1{
    display : flex;
    align-items : center;
    width : 700px;
}

.split2{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width : 510px;
}
.split2 h2{
    display : flex;
    align-items: center;
    justify-content: center;
    background : silver;
    height : 40px;
    width : 484px;
    border-top-left-radius : 20px;
    border-top-right-radius : 20px;
    margin :0px;
    position: relative;
    top : 10px;
}

.split1 button{
    display : flex;
    align-items: center;
    justify-content: center;
    padding : 10px;
    height : 38px;
    width : 160px;
    font-size : 20px;
    border-radius : 5px;
    border : none;
    outline: none;
    background  : linear-gradient(120deg,#0f2027,#203a43,#2c5364);
    color : white;
    border-color: black;
    font-family :  serif;
    box-shadow: 1px 2px 4px black;
}

.button1{
    position:absolute;
    left : 200px;
}
.button2{
    position:absolute;
    left : 495px;
}
.split1 button:hover{
    background: black;
}
 .container input{
    position: relative;
    left : 180px;
    top : -20px;
    width : 430px;
    height : 20px;
    margin : 18px;
    padding :8px;
    padding-left: 15px;
    border-radius: 6px;
    border: 1px solid;
    outline: none;
    font-size : 16px;
}
.choosefile
{
    display : none;
}
.container input[type = 'text']:focus{
    outline: none;
    border-color : black;
    box-shadow: 0 0 5px black;
}

.image{
    position: relative;
    top : -10px;
    left : 0px;
    height : 390px;
    width : 440px;
}

.choosefile input[type="file"]{
    display: inline-block;
    padding-bottom: 11px;
    padding-top: 6px;
    cursor: pointer;
}
.popup_upload1{
    display : none;
    width : 1600px;
    height :100%;
    background : rgba(0,0,0,0.7);
    position : absolute;
    top : 0;
    left : 0;
    
    justify-content: center;
    align-items: center;
}
.content{
    width : 450px;
    height : 250px;
    background : white;
    border : 2px solid;
    border-radius : 5px;
    display : none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content2{
    width : 450px;
    height : 250px;
    background : white;
    border : 2px solid;
    border-radius : 5px;
    display : none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content button{
    display : flex;
    align-items: center;
    justify-content: center;
    margin : 10px;
    margin-left : 50px;
    margin-right : 50px;
    padding : 10px;
    height : 37px;
    width : 100px;
    font-size : 15px;
    border-radius : 10px;
    border : none;
    outline: none;
    background : green;
    color : white;
    font-family :  serif;
    box-shadow: 1px 2px 4px lightgreen;
}
.content2 button{
    display : flex;
    align-items: center;
    justify-content: center;
    margin : 10px;
    margin-left : 50px;
    margin-right : 50px;
    padding : 10px;
    height : 37px;
    width : 100px;
    font-size : 15px;
    border-radius : 10px;
    border : none;
    outline: none;
    background : red;
    color : white;
    font-family :  serif;
    box-shadow: 1px 2px 4px red;
}

.content button:hover{
    background : white;
    color : green;
    box-shadow: 1px 2px 4px lightgreen;
    border : 3px solid;
    border-color : green;
}
.content2 button:hover{
    background : white;
    color : red;
    box-shadow: none;
    border : 3px solid;
    border-color : red;
}
.content i{
      color : green;
    font-size : 30px;
    padding : 20px;
    border : 3px solid;
    border-radius : 50%;
} 
.content2 i{
    color : red;
    font-size : 33px;
    padding : 20px;
    border : 3px solid;
    border-radius : 50%;
}

/* -------------------------------------------------- search doc ----------------------------------------- */

.searchcontainer{
    height: 614px;
    width : 1130px;   
    position: relative;
    left: 310px;
}
.searchsplit{
    position: relative;
    top :30px;
}
.searchsplit label{
    position : absolute;
    width : 240px;
    height : 27px;
    margin : 23px;
    font-size: 20px;
}
.searchcontainer input{
    position: relative;
    left : 270px;
    top : -10px;
    width : 400px;
    height : 20px;
    margin : 18px;
    padding :8px;
    padding-left: 15px;
    border-radius: 5px;
    border: 0px solid linear-gradient(120deg,#0f2027,#203a43,#2c5364);
    outline: none;
    font-size : 16px;
}
.searchcontainer input:focus{
    outline: none;
    border-color :  silver;
    box-shadow: 0 0 5px black;
}

.box2{
    position: relative;
    top : -148px;
    left : 10px;
    height : 300px;
    padding-top : 40px;
    width : 1110px;
    display : flex;
    align-items: center;
    justify-content: space-evenly;
}
.box2 img{
    height : 250px;
    width : 260px;
    border : 1px solid;
}
.box2 img:hover{
    cursor: pointer;
}
.popup2 img:hover{
    cursor: pointer;
}
.popup2{
    display : none;
    width : 1527px;
    height :100%;
    background : rgba(0, 0, 0, 0.5);
    position : absolute;
    top : 0;
    
    justify-content: center;
    align-items: center;
}
.popup2 img{
    height : 500px;
    width : 600px;
    border : 1px solid;
    border-color : white;
}

.searchsplit i{
    position: relative;
    left : 836px;
    top : -183px;
    padding : 10px;
    font-size: 26px;
    background : silver;
    border : 1px solid;
    border-color : lightgray;
    border-bottom-right-radius : 5px;
    border-top-right-radius : 5px;
}

.check{
    display : none;
}
.check input{
    position: relative;
    left : 300px;
    top : -230px;
    width: 25px; 
    height: 25px; 
    outline: 2px solid rgb(4, 179, 248);
    background: lightblue;
}
#a{
    position: relative;
    left : 335px;
}
#b{
    position: relative;
    left : 583px;
}
#c{
    position: relative;
    left : 833px;
}
#d{
    position: relative;
    left : 1083px;
}
.searchbutton button{
    position: relative;
    left: 287px;
    width : 150px;
    height : 40px;
    border-radius : 5px;
    background : linear-gradient(120deg,#0f2027,#203a43,#2c5364);
    color : white;
    font-size : 15px;
    font-family :  serif;
    box-shadow: 1px 2px 4px black;
}
.searchbutton button[type ="reset"]{
    position: relative;
    left: 410px;
}
.searchbutton button:hover{
    background: black;
}

.totallist{
    width : 300px;
    height : 200px;
    background : #f7f7f7;
    border-radius : 10px;
    box-shadow: 4px 3px 5px rgba(153, 151, 153, 0.467);

    position : relative;
    bottom : 190px;
    left : 800px;
}
.totallist h5{
    margin : 0px;
    padding : 25px;
    padding-bottom : 5px;
    padding-left : 15px;
}
.totallisti{
    font-size: 15px;
    padding : 25px;
    padding-bottom : 5px;
    margin-left : 172px;
}
.totallisti:hover{
    color : rgb(34, 164, 207);
}
.totallist label{
    font-size : 35px;
    padding-left : 25px;
}
.malei{
    position: absolute;
    left : 170px;
    top : 110px;
    font-size : 17px;
    color : rgb(86, 213, 252);
    padding : 0px;
}
.femalei{
    position: absolute;
    left : 170px;
    top : 150px;
    color :  rgb(96, 252, 96);
    padding : 0px;
}
.options{
    display : none;
    width : 300px;
    height : 200px;
    background : #f7f7f7;
    border-radius : 10px;
    box-shadow: 4px 3px 5px rgba(153, 151, 153, 0.467);

    position : relative;
    bottom : 190px;
    left : 800px;
}
.downloadoption{
    display : none;
    flex-direction: row;
}
.downloadoption button{
    width : 150px;    
    color : rgb(0, 195, 255);
}
.updateoption{
   display : none;
   flex-direction: row;
}
.updateoption button{
    width : 150px;    
    color : rgb(0, 195, 255);
}
.options h5{
    margin : 0px;
    padding : 25px;
    padding-bottom : 5px;
    padding-left : 15px;
}
.options i{
    font-size: 15px;
    padding : 25px;
    padding-bottom : 5px;
    padding-left : 190px;
    font-size : 13px;
}
.options i:hover{
    color : red;
}
.options button{
    outline : none;
    border : none;
    padding : 12.5px;
    color :  linear-gradient(120deg,#0f2027,#203a43,#2c5364);
}
.options button:hover{
    background : rgb(207, 206, 206);
}
.pie {
    width: 100px;
    height: 100px;
    border-radius: 50%
  }
.pie:hover  .tooltiptext {
    visibility: visible;
  }

.tooltiptext {
    display : flex;
    justify-content: flex-start;
    visibility: hidden;
    width: 120px;
    height : 20px;
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    top: 55px;
    left: 5px;
  }
  .pie .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2) transparent transparent transparent;

  }
 .files {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px;
  position: absolute;
  top : 350px;
}

.files td, .files th {
  border: 1px solid #ddd;
  padding: 8px;
}

.files tr:nth-child(even){
    background-color: #f2f2f2;
}

.files tr:hover {
    background-color: #ddd;
}

.files th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #818181;
  color: white;
}


  /* ---------------------------------------- staffmain ------------------------------------------------------*/

.uploadcontainer{
    width : 345px;
    display : flex;
    flex-direction: column;
    align-items: center;
}
.uploadcontainer  i{
    margin : 60px 0px 30px 0px;
    font-size : 60px;
    color : rgb(59, 168, 211);
    padding : 35px;
    background: rgb(59, 168, 211,0.1);
    border-radius : 100px;
}
.uploadcontainer button{
    width : 230px;
    height : 80px;
    margin-top : 40px;
    color :rgb(5, 73, 100);
    background: rgb(59, 168, 211,0.1);
    font-size : 18px;
    border : none;
    border-radius : 5px;
}
.searchcontainer2{
    width : 345px;
    display : flex;
    flex-direction: column;
    align-items: center;
}
.searchcontainer2 i{
    margin : 60px 0px 30px 0px;
    font-size : 60px;
    color : rgb(59, 168, 211);
    padding : 35px;
    background: rgb(59, 168, 211,0.1);
    border-radius : 100px;
}
.searchcontainer2 button{
    width : 230px;
    height : 80px;
    margin-top : 40px;
    color :rgb(5, 73, 100);
    background: rgb(59, 168, 211,0.1);
    font-size : 18px;
    border : none;
    border-radius : 5px;
}

.uploadcontainer button:hover{
    box-shadow: 0px 0px 2px blue;
}
.searchcontainer2 button:hover{
    box-shadow: 0px 0px 2px blue;
}




  
