 
.dropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #464747;
  min-width: 160px;
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 3px;
}

.dropdown-content a{
  color: #f5f5f5;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #919191}

.dropdown:hover .dropdown-content {
  display: block;
}
 
  select,input{
    width: 200px;
    height: 34px;
    padding-left: 10px;
    margin-right: 30px;
    border-radius: 4px;
    border : 1px solid silver;
    outline: none;
  }
 
  h3{
    margin-bottom: 100px;
  }
 u{
  padding-bottom:10px;
  text-decoration:none;
  border-bottom:3px solid #000;
}

.result{
	height: 150px;
	width : 400px;
	margin : 20px 20px 20px 50px;
}

.result table td,.result table th{
	padding: 10px 50px 10px 0px;
}
.result h4{
    color: #0ba4e6;
  }
.result label{
    font-size : 15px; 
	margin : 10px 0px 0px 0px;
	font-family: "Courier New";
}
.result .remains label{
	color: red;
}
.result .useds label{
	color: limegreen;
}

table{
	width: 100px;
}

.modal input,.modal select{
  width : 300px;
  height : 30px;
  margin-bottom: 10px;
  margin-left : 100px;
  border-radius: 5px;
  border : 1px solid;
  padding-left : 10px;
}