body{
    
    background: url(background/login.jpg);
    background-size:cover;
    background-position: center;
    font-family: sans-serif;
    background-repeat: no-repeat;
}
.container{
    position: relative;
    background: rgba(0,0,0,0.5);
    color: #fff;
}

.container .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top : -60px;
    left: calc(50% - 50px);
    
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    
}
p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
input{
    width: 100%;
    margin-bottom: 20px;
}
input[type ="text"],input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: black;
}
a
{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
    
}
a:hover{
    color: #ffc107;
}

.eyes{
    position: relative;
    left : 190px;
    bottom : 50px;
    cursor: pointer;
}