.dropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #464747;
  min-width: 160px;
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 3px;
}

.dropdown-content a {
  color: #f5f5f5;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #919191}

.dropdown:hover .dropdown-content {
  display: block;
}

u{
  padding-bottom:6px;
  text-decoration:none;
  border-bottom:3px solid #000;
}

.searchinputs{
    display: flex;
    justify-content: space-between;
  }
.searchinputs input,.searchinputs select{
    width: 450px;
    height: 34px;
    padding-left: 10px;
    margin : 0px 15px 20px 0px;
    border-radius: 4px;
    border : 1px solid silver;
    outline: none;
  }
.searchinputs input[type = "button"]{
    width: 110px;
    height: 35px;
  border-radius: 3px;
  border : 1px solid;
  outline: none;
}


h3{
  margin-bottom: 30px;
  color: #707070;
}
.groups{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.lists{
  margin-right : 20px;
  margin-bottom: 20px;
  background-color: #e8e8e8;
  width : 439px;
  height : 150px;
  border-radius: 5px; 
}

.lists .l1{
  float : left;
  width : 270px;
  height : 75px;
}
.lists .l1 label{
  margin : 10px;
  margin-left: 20px;
  color: #0696d4;
}
.lists .l2{
  float : right;
  width : 169px;
  height : 75px;
}
.lists .l2 label{
  margin: 30px 20px 20px 20px;
  font-size: 11px;
  color: #707070;
}
.lists .l2 i{
  position : relative;
  top : -50px;
  left : 150px;
  color: red;
  font-size: 10px;
  cursor: pointer;
}
.lists .l3{
  float: left;
  float: bottom;
  width: 439px;
  height : 75px;
}
.lists .l3 label{
  margin-top : 20px;
  font-size: 13px;
  color: #fa8b23;
}
.lists .l3 h5{
  color: #4f9104;
  font-size: 13px;
  margin-top : 20px;
}
table td{
  padding: 0px 10px 0px 10px;
}


.viewfull{
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.6); 
}
.viewfull h1{
  position: fixed;
  top : 30px;
  left : 90px;
  color: white;
}
/* close icon */
.viewfull .fa-times{
  position: fixed;
  top : 40px;
  right : 100px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

.viewfull .fa-times:hover{
  color: red;
}

.viewfull .container{
  margin-top : 130px;
  margin-bottom: 100px;
  background: white;
  border-radius: 5px;
}

.lists i .tipname{

  visibility: hidden;
  margin-left: 10px;
  width: 80px;
  padding: 3px;
  background: white;
  border: 1px solid #858483;
  color: #858483;
  font-size: 12px;
}

.lists i:hover .tipname{
  visibility: visible;
}
