
.dropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #464747;
  min-width: 160px;
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 3px;
}

.dropdown-content a {
  color: #f5f5f5;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #919191;}

.dropdown:hover .dropdown-content {
  display: block;
}

.unid{
	width: 200px;
	height : 34px;
	padding-left : 10px;
	margin : 30px 10px 0px 0px;
	border : 1px solid;
	border-radius: 3px;
}

.stockunid{
	width: 239px;
	height : 34px;
	padding-left : 10px;
	margin : 30px 10px 0px 0px;
	border : 1px solid;
	border-radius: 3px;
}

.listsize{
	width: 144px;
	height : 34px;
	padding-left : 10px;
	margin : 30px 10px 0px 0px;
	border : 1px solid;
	border-radius: 3px;
}

.prolist{
	display: flex;
}
.prolist label{
	position: absolute;
	font-size: 13px;
	margin : 15px 15px 15px 0px;
	color: gray;
}

.prolist input,.prolist select{
	width : 300px;
	height : 35px;
	margin : 13px;
	margin-left : 200px;
	border-radius: 5px;
	border : 1px solid;
	padding-left : 10px;
}

.prolist input[type = "button"]{
	background : limegreen;
	border-radius: 3px;
	border : 1px solid;
	color : white;
	outline: none;
}

.prolist input[type = "reset"]
{
	margin-top : 0px;
	border-radius: 3px;
	border : 1px solid;
	color : white;
	background : red;
	outline: none;
}
.prolist button{
	width : 250px;
	height : 35px;
	border-radius: 3px;
	border : 1px solid;
	color : white;
    margin :20px;
	background: limegreen;
	outline: none;
}
.prolist .img{
	width :250px;
	height : 250px;
	border: 1px solid;
	border-color: limegreen;
	margin-left:20px;
	margin-top: 50px;
}

#qrcode{
    display: none;
  }

.submitstatus{
	margin-top : 10px;
	display: none;
}
.submitstatus span{
	margin-left: 20px;
}

.model label{
	position: absolute;
	font-size: 13px;
	margin : 55px;
}
.modal input,.modal select{
	width : 300px;
	height : 30px;
	margin-bottom: 10px;
	margin-left : 100px;
	border-radius: 5px;
	border : 1px solid;
	padding-left : 10px;
}

#myModal4 input,#myModal4 select{
	width : 250px;
}

.prosearch table tr:hover{
		background:#e3e1e1; 
		cursor: pointer;
	}
#viewbags tr:hover{
    background:#e3e1e1; 
    cursor: pointer;
 }
 #view tr:hover{
    background:#e3e1e1; 
    cursor: pointer;
 }

 .searchinputs{
    display: flex;
    justify-content: space-between;
  }
  .searchinputs input,.searchinputs select{
    width: 340px;
    height: 34px;
    padding-left: 10px;
    margin : 0px 15px 20px 0px;
    border-radius: 4px;
    border : 1px solid silver;
    outline: none;
  }
  .searchinputs input[type = "button"]{
  	width: 110px;
  	height: 35px;
	border-radius: 3px;
	border : 1px solid;
	outline: none;
}

.boxes{
    display: flex;
    margin : 10px 10px 10px 0px;
    justify-content: space-between;
  }
  .boxes .bagsinhand{
    width: 230px;
    height: 100px;
    margin :20px 0px 20px 0px;
    background: #f2f5f5;
    border-radius: 3px;
    box-shadow : 1px 1px 3px #fff5f5;
  }
   .boxes .bagssold{
    width: 230px;
    height: 100px;
    margin : 20px 0px 20px 0px; 
    background: #f2f5f5;
    border-radius: 3px;
    box-shadow : 1px 1px 3px #fff5f5;
  }
  .boxes .bagsinhand i{
      float: left;
      margin : 25px 30px 30px 30px;
      color: white;
      background: #fc9d9d;
      padding: 10px;
      font-size: 30px;
      border-radius: 5px;
  }
  .boxes .bagssold i{
      float: left;
      margin : 25px 30px 30px 30px;
      color: white;
      background: #05ab42; /* changed color */
      padding: 10px;
      font-size: 30px;
      border-radius: 5px;
  }

  .boxes .bagsinhand h3{
    color: #fc9d9d;
    margin-bottom: 20px;
  }
  .boxes .bagssold h3{         /* changed color */
    color: #05ab42;
     margin-bottom: 20px;
  }
  .boxes .bagsinhand h4{
    color: #fc9d9d;
  }
  .boxes .bagssold h4{        /* changed color */
    color: #05ab42;
  }
  .boxes p{
    font-size: 11px;
    font-family: "Courier New";
  }

  .listbox{
    display: flex;
    height: 100px;
    width: 100%;
    background: #f2f5f5;
    margin-bottom: 20px;
    border-radius: 3px;
  }

  .listbox .listdetails{
      height: 100%;
      width: 180px;
  }
  .listbox .listdetails2{
      height: 100%;
      width: 150px; 
  }
  .listbox .listdetails p,.listbox .listdetails2 p{
     margin : 25px 0px 0px 20px;
     font-family: tahoma;
     color: #cfcb06;
  }
  .listbox .listdetails h4,.listbox .listdetails2 h5{
     margin : 15px 30px 30px 30px;
     color: #4f4f4f;
  }

/* ================================================ media queries ======================================================= */

@media (max-width: 450px)
{
	.prosearch table{
		font-size: 7px;
	}
}

@media (max-width: 550px)
{
.prolist{
	flex-direction: column;
}
.prolist label{
	display: none;
}

.prolist input,select{
	margin-left : 20px;
	width : 230px;
}
.prolist button{
	width : 230px;
}
.prolist .img{
	width :230px;
	height : 230px;
}
.prolist .img img{
	width :220px;
	height : 220px;
}
}

@media (min-width : 550px ) and (max-width: 750px)
{
  .prolist{
	flex-direction: column;
}
}

@media (min-width : 750px ) and (max-width: 800px)
{
	.prolist input,select{
	margin-left : 150px;
	width : 230px;
}
.prolist button{
	width : 230px;
}
.prolist .img{
	width :230px;
	height : 230px;
}
.prolist .img img{
	width :220px;
	height : 220px;
}
}


@media (min-width : 800px ) and (max-width: 991px)
{
	.prolist input,select{
	margin-left : 150px;
	width : 270px;
}
.prolist button{
	width : 250px;
}
.prolist .img{
	width :250px;
	height : 250px;
}
.prolist .img img{
	width :240px;
	height : 240px;
}
}








